<div class="jumbotron">
    <h3>@ViewBag.Title</h3>
    <div style="margin-left:86%; margin-bottom:30px;">
        @Html.ActionLink("Add Order", "Create", null, new { @class = "btn btn-success btn-md" })
    </div>
    @Html.DropDownList("CustomerList", null, "Select Name")



    @{
        Html.RenderAction("_Orderlist", "Orders");
    }
</div>

@section scripts {
    <script>
         $("#CustomerList").change(function () {
            var id = this.value;
            $.ajax({
                url: '@Url.Action("_Orderlist", "Orders")',
                data: { id: id },
                type: 'POST',
                success: function (result) {
                    $("#ordList").html(result);
                }
            });
        });

    </script>
}

